@import "_variables.scss";

body {
  --hue: var(--hue-neutral);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Federo", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
  width: 100vw;
  height: 100vh;
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(hue-wrong);
}

.container {
  background-color: white;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  width: 800px;
  max-width: 80%;
}

.answer-button {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: lightcyan;
  font-family: "Federo", sans-serif;
}

.btn:hover {
  box-shadow: 10px 15px 1rem;
}

.btn.correct {
  --hue: var(--hue-correct);
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn,
.next-btn {
  font-size: 1.5rem;
  font-family: "Federo", sans-serif;
  text-transform: uppercase;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
